/*Début du CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Fin du CSS Reset*/
/*Début de mon CSS*/
/*Début de la partie mobile (sous 768px de largeur)*/

#background{
	z-index: -1;
	position: absolute;
	width:100%;
}

#titre{
	padding-left: 1em;
	padding-top: 0.8em;
	font-size: 3.5em;
	text-align: center;
}

#davidLogo{
	margin-top: 1em;
	margin-left: 0.2em;
	position: absolute;
	width:20%;

}

.border{
	border-style: solid;
	border-width: 1px;
}

p{
	text-align: justify;
}

h2{
	display: inline;
	font-size: 1.3em;
	margin-left: 0.5em;
}

#standEnfants{
	width: 100%;
}

.boite{
	width: 85%;
	padding-top: 0.4em;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;
	margin-left: 5%;
	margin-right: auto;
}

#propos{
	margin-top: 50%;
}

#davidLogo2{
	width:40%;
	float: left;
	padding-bottom: 0.8em;
}

#stand{
	width: 90%;
	margin-left: 5%;
}

#davidLemon{
	display: inline;
	width: 50%;
	float: right;
	margin-bottom: auto;
	padding-left: 0.5em;
}

#bio{
	width: 100%;
}

/*Début de la partie grand écran*/
@media screen and (min-width:768px){

	#davidLogo{
		display: none;
	}

	body{
		margin-left: 15%;
		margin-right: 15%;
		width: 80%;
		display: inline-block;
	}


	header{
		width: 50%;
	}

	#background{
		width: 40%;
		margin-left: 20%;
	}

	#titre{
		padding-top: 0.2em;
		font-size: 5.2em;
		margin-left: 20%;
		position: absolute;
		display: inline-block;
	}

	#propos{
		margin-top: 35%;
		display: inherit;
		width: 52%;
	}

	#david{
		float: left;
		width: 17%;
		margin: 1em 0 0 0;
		padding-top: 1em;
	}

	#davidLogo2{
		padding-bottom: 0.8em;
		padding-top: 1em;
	}

	#sante{
		float: right;
		width: 17%;
		padding-top: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	#propos p{
		width: 48%;
		float: left;
	}

	#standEnfants{
		width: 50%;
		float: right;
	}


}
